@import './normalize.scss';
@import './header.scss';
@import './content-block.scss';
@import './card-default.scss';

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
