.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.header-main {
  display: flex;
  flex-direction: column;
  max-width: 295px;
  font-size: 1.6rem;
  line-height: 2.5rem;

  @media only screen and (min-width: 1200px) {
    max-width: 440px;
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
}

.header-main-top {
  font-weight: 200;
}

.header-main-bot {
  font-weight: 600;
}

.header-sub {
  max-width: 295px;
  margin-top: 24px;
  @media only screen and (min-width: 1200px) {
    max-width: 500px;
  }
}
